@page "/map/categories"
@inject IExpenseUniqueRepo _uniqueRepo
@inject IExpenseCategoryRepo _categoriesRepo

<h3>Mapping</h3>

@if (uniqueExpenses is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>UniqueName</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exp in uniqueExpenses)
            {
                <tr>
                    <td>@exp.Id</td>
                    <td>@exp.UniqueName</td>
                    @if (exp.Category is not null)
                    {
                        <td>
                            <select class="form-control" @bind="@exp.CategoryId">
                                <option selected>@exp.Category.CategoryName</option>
                                @foreach (var cat in categories)
                                {
                                    <option value="@cat.Id"> @cat.CategoryName </option>
                                }

                            </select>
                        </td>
                    }
                    else
                    {
                        <td>
                            <select class="form-control" @bind="@exp.CategoryId">
                                <option selected>None</option>
                                @foreach (var cat in categories)
                                {
                                    <option value="@cat.Id"> @cat.CategoryName </option>
                                }

                            </select>
                        </td>
                    }
                    <td><a class="btn btn-info">Edit</a></td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ExpenseUnique> uniqueExpenses = default!;
    private List<ExpenseCategory> categories = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        uniqueExpenses = await _uniqueRepo.GetUniqueExpenses();
        categories = await _categoriesRepo.GetCategories();
    }
}
