@page "/map/categories"
@inject IExpenseUniqueRepo _uniqueRepo
@inject IExpenseCategoryRepo _categoriesRepo

<h3>Mapping</h3>

@if (uniqueExpenses is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@newUnique" id="addForm" OnValidSubmit="@AddNewUniqueExpense"></EditForm>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>UniqueName</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><InputText class="form-control form-control-sm" @bind-Value="newUnique.UniqueName" form="addForm" /></td>
                <td>
                    <InputSelect class="form-select form-select-sm" @bind-Value="newUnique.CategoryId" form="addForm">
                        @if (newUnique.Category is null)
                        {
                            <option selected>None</option>
                        }
                        @foreach (var cat in categories)
                        {
                            <option value="@cat.Id">@cat.CategoryName</option>
                        }
                    </InputSelect>
                </td>
                <td colspan="2"><div class="d-grid"><button class="btn btn-success btn-sm" type="submit" form="addForm">Add</button></div></td>
            </tr>
            @foreach (var exp in uniqueExpenses)
            {
                <tr>
                    <td>@exp.Id</td>
                    <td>@exp.UniqueName</td>
                    
                    <td>
                        <select class="form-select form-select-sm" @onchange="args => MapCategoryToExpenseAsync(args,exp)">
                            @if (exp.Category is null)
                            {
                                <option selected>None</option>
                            }
                            else
                            {
                                <option value="@exp.CategoryId" selected>@exp.Category.CategoryName</option>  
                            }
                                @foreach (var cat in categories)
                            {
                                <option value="@cat.Id">@cat.CategoryName</option>
                            }
                        </select>
                    </td>
                    
                    <td><a class="btn btn-info btn-sm">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            }


           
            
        </tbody>
    </table>
}

@code {
    private ExpenseUnique newUnique = new ExpenseUnique();
    private List<ExpenseUnique> uniqueExpenses = default!;
    private List<ExpenseCategory> categories = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        uniqueExpenses = await _uniqueRepo.GetUniqueExpenses();
        categories = await _categoriesRepo.GetCategories();
    }

    private async Task MapCategoryToExpenseAsync(ChangeEventArgs args, ExpenseUnique uniqueExp)
    {
        uniqueExp.CategoryId = int.Parse(args.Value.ToString());
        //exp.CategoryId = e.Value;
        await _uniqueRepo.UpdateUniqueExpense(uniqueExp);
    }

    private async Task AddNewUniqueExpense()
    {
        newUnique.Category = categories.Where(x => x.Id == newUnique.CategoryId).FirstOrDefault()!;
        await _uniqueRepo.AddUniqueExpense(newUnique);
        uniqueExpenses.Add(newUnique);
        newUnique = new ExpenseUnique();
    }
}
